CONTACT_TO_EMAIL=contacto@estructuradigital.cl
CONTACT_FROM_EMAIL="Sitio Estructura Digital <onboarding@resend.dev>"
RESEND_API_KEY=
NEXT_PUBLIC_SITE_URL=https://estructuradigital.cl
META_VERIFY_TOKEN=
META_APP_SECRET=
